* {
  color: white;
}
.mat-toolbar {
  background-color: #113076;
}
.spacer {
  flex: 1 1 auto;
}
.icon {
  height: 100%;
  width: 5%;
  cursor: pointer;
}
.temper {
  cursor: pointer;
}
.logOut {
  background-color: #3d8db8;
  font-size: 0.8em;
}
.logOut:hover {
  background-color: #4e68a5c0;
}
.options {
  color: black;
}
a {
  cursor: pointer;
}
.searchForm {
  max-width: 25%;
  width: 100%;
}
.full-width {
  width: 100%;
}
