<mat-toolbar>
  <img class="icon" (click)="refresh()" src='../../../assets/weathAirWhiteOLD.png'>
  <span class="spacer"></span>

  <form class="searchForm">
    <mat-form-field class="full-width" floatLabel="never">
      <input type="text"
             placeholder="Search City"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto"
             (keyup)="onKeyup($event.target.value)">
             <mat-icon>search</mat-icon>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option (click)="addSelectedCity()" class="options" *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <span class="spacer"></span>
  &nbsp;<div class="temper" (click)="convert('c')"> °C </div>&nbsp; | &nbsp;<div class="temper" (click)="convert('f')">°F
  </div>&nbsp;&nbsp;
  <button class="logOut" mat-stroked-button href="/" (click)="logOut()">Log Out</button>
</mat-toolbar>