<mat-toolbar>
  <img class="icon" src='../../../assets/weathAirWhiteOLD.png'>
  <span class="spacer"></span>
  <mat-form-field floatLabel="never">
    <input matInput placeholder="Search City">
    <mat-icon>search</mat-icon>
  </mat-form-field>
  <span class="spacer"></span>
  &nbsp;<div class="temper" (click)="convert()"> °C </div>&nbsp; | &nbsp;<div class="temper" (click)="convert()">°F</div>&nbsp;&nbsp;
  <button class="logOut" mat-stroked-button href="/" (click)="logOut()">Log Out</button>
</mat-toolbar>