.spacer {
    flex: 1 1 auto;
}
.icon {
    height: 80px;
    width: 80px;
}
.temper {
    cursor: pointer;

}
.mat-toolbar {
    height: 70px;
    background-color: #113076;
}
* {
    color: white;
}